.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  gap: 20px;
}

.item {
  background-color: palevioletred;
}

.item1 {
  grid-column: span 6;
}

.item2 {
  grid-column: span 4;
  grid-row: span 2;
}

.item3 {
  grid-column: span 6;
}
