.container {
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: repeat(10, 1fr);
  gap: 10px;
  height: 100vh;
  grid-template-areas:
    'item1 item3'
    'item2'
    'item4'
    'item5 item6';
}

.item {
  padding: 100px;
  background: linear-gradient(
    to bottom right,
    hsl(180, 100%, 50%),
    hsl(250, 38%, 44%)
  );
}

.item1 {
  grid-row: span 6;
}

.item2 {
  grid-row: span 4;
}

.item3 {
  grid-row: span 6;
}

.item4 {
  grid-row: span 4;
}
