.container {
  display: grid;
  height: 100vh;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.item {
  padding: 100px;
  background: linear-gradient(
    to bottom right,
    hsl(180, 100%, 50%),
    hsl(300, 100%, 50%)
  );
}

.item5 {
  grid-column: span 2;
}
