.container {
  height: 100vh;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.item {
  padding: 200px;
  background-color: purple;
  font-size: 500%;
}
