/* Add code for container class below */
* {
  margin: 0;
  pardding: 0;
}
.container {
  /* Add rules here */
  display: grid;
  min-height: 100vh;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header header header' 'left main right' 'footer footer footer';
}
/* Add media rules for container class below */
@media (min-width: 440px) {
  .container {
    /* Add rules here */
  }
}

/* Properties for other selectors */
.header {
  grid-area: header;
  padding: 10px;
  background-color: aquamarine;
  color: #fff;
  text-align: center;
}

.main {
  grid-area: main;
  padding: 25px;
  background-color: aqua;
}

.left {
  grid-area: left;
  background-color: blueviolet;
}

.right {
  grid-area: right;
  background-color: pink;
}

.footer {
  grid-area: footer;
  padding: 10px;
  background-color: aquamarine;
  color: #fff;
  text-align: center;
}

.sidebar {
  padding: 25px;
}
